[Unit]
Description=Easy socks proxy
After=network.target

[Service]
ExecStart=/usr/local/bin/lightway
ExecStop=/bin/kill -s QUIT
Environment=PROXY_CONF=/etc/lightway/proxy.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
